<!-- Início do Formulário do Disciplina -->
<form id="form_disciplinas">
	<div class="dados_disciplinas">
		<div class="form-row">
			<div class="form-group col">
				<label for="nome">Nome</label>
				<input type="text" class="form-control" name="nome" id="nome" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col">
				<label for="codigo">Código</label>
				<input type="text" class="form-control" name="codigo" id="codigo" required>
			</div>
		</div>

		<div class="form-row justify-content-end text-right">
			<input type="hidden" name="id" id="id_disciplinas">
			<div class="col col-md-auto mt-3">
				<button type="button" class="btn btn-outline-light btn-block" data-dismiss="modal">
					Cancelar
				</button>
			</div>
			<div class="col col-md-auto ambos mt-3">
				<button type="submit" class="btn btn-warning btn-block" id="salvar_disciplinas">
					Salvar
				</button>
			</div>
		</div>
	</div>
</form>
<!-- Fim do Formulário do Disciplina -->