<div class="modal fade" id="modal_alunos" tabindex="-1" role="dialog" aria-labelledby="modal_alunos" aria-hidden="true">
	<div class="modal-dialog">
		<div class="bg-dark modal-content text-white">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_titulo_alunos">Formulário do Aluno</h5>
				<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Início do Formulário do Aluno -->
				<form id="form_alunos">
					<div class="dados_alunos">
						<div class="form-row">
							<div class="form-group col">
								<label for="nome">Nome</label>
								<input type="text" class="form-control" name="nome" id="nome" maxlength="255" required>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col">
								<label for="cpf">CPF (Ex.: 000.000.000-00)</label>
								<input type="text" class="form-control cpf" name="cpf" id="cpf" maxlength="14" minlength="14" pattern="[0-9]{3}[.][0-9]{3}[.][0-9]{3}[-][0-9]{2}" required>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col">
								<label for="matricula">Matrícula (Ex.: 2018.1.0028.0001-0)</label>
								<input type="text" class="form-control matricula" name="matricula" id="matricula" maxlength="18" minlength="18" pattern="[0-9]{4}.[1|2].[0-9]{4}.[0-9]{4}-[0-9]" required>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col">
								<label for="email">Email</label>
								<input type="email" class="form-control fone" name="email" id="email" maxlength="100" required>
							</div>
						</div>

						<div class="form-row justify-content-end text-right">
							<input type="hidden" name="id" id="id_alunos">
							<div class="col col-md-auto mt-3">
								<button type="button" class="btn btn-outline-light btn-block" data-dismiss="modal">
									Cancelar
								</button>
							</div>
							<div class="col col-md-auto ambos mt-3">
								<button type="submit" class="btn btn-warning btn-block" id="salvar_alunos">
									Salvar
								</button>
							</div>
						</div>
					</div>
				</form>
				<!-- Fim do Formulário do Aluno -->
			</div>
		</div>
	</div>
</div>