<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Controle de Notas</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/">Início <span class="sr-only">(atual)</span></a>
			<a class="nav-item nav-link" href="/alunos">Alunos</a>
			<a class="nav-item nav-link" href="/disciplinas">Disciplinas</a>
		</div>
		<div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<a class="nav-item nav-link" href="#"><%= usuario.nome %></a>
			<a class="nav-item nav-link text-danger" href="/sair">Sair</a>
		</div>
	</div>
</nav>