<nav class="bg-dark navbar navbar-expand-lg navbar-dark shadow-lg">
	<a class="navbar-brand" href="/">Controle de Notas</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/">Início</a>
			<a class="nav-item nav-link" href="/alunos" id="nav_alunos" style="display: none;">Alunos</a>
			<a class="nav-item nav-link" href="/disciplinas" id="nav_disciplinas" style="display: none;">Disciplinas</a>
			<a class="nav-item nav-link" href="/notas">Notas</a>
			<a class="nav-item nav-link" href="/relatorios">Relatórios</a>
			<a class="nav-item nav-link" href="/docs">Documentação</a>
		</div>
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#modal_usuarios"><%= ( usuario ? usuario.nome : 'Sem usuário' ) %><% if (usuario && usuario.administrador == 1) { %> (Administrador)<% } %></a>
			<a class="nav-item nav-link text-danger" href="/sair">Sair</a>
		</div>
	</div>
</nav>