:root {
  --cor-primaria: #343a40;
  --cor-primaria-alt: #000000;
}

.nav-link:hover {
 color: var(--cor-primaria-alt) !important;
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--cor-primaria) !important;
}

a .nav-link {
 color: var(--cor-primaria);
}

body {
  font-family: 'Lato', sans-serif;
}
