:root {
  --cor-primaria: #343a40;
  --cor-primaria-alt: #000000;
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--cor-primaria) !important;
}

a .nav-link {
 color: var(--cor-primaria);
}

a {
  color: var(--warning);
}

a:hover, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: #e0a800;
  border-color: #d39e00;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .nav-link:hover {
 color: var(--warning) !important;
}

body {
  font-family: 'Lato', sans-serif;
}
