<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <title>controle-notas-sgbd 1.0.0 | Documentation</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel="shortcut icon" href="/lang-logo.png" type="image/x-icon">
  <link href='/docs_assets/css/bass.css' type='text/css' rel='stylesheet' />
  <link href='/docs_assets/css/style.css' type='text/css' rel='stylesheet' />
  <link href='/docs_assets/css/github.css' type='text/css' rel='stylesheet' />
  <link href='/docs_assets/css/split.css' type='text/css' rel='stylesheet' />
  <meta name='description' content='Aplicativo criado para o trabalho final da matéria de Sistemas Gerenciadores de Bancos de Dados da PUC Goiás.'>
</head>
<body class='documentation m0'>
    <div class='flex'>
      <div id='split-left' class='overflow-auto fs0 height-viewport-100'>
        <div class='py1 px2'>
          <h3 class='mb0 no-anchor'>controle-notas-sgbd</h3>
          <div class='mb1'><code>1.0.0</code></div>
          <input
            placeholder='Filter'
            id='filter-input'
            class='col12 block input'
            type='text' />
          <div id='toc'>
            <ul class='list-reset h5 py1-ul'>
              
                
                <li><a
                  href='#server'
                  class="">
                  server
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#gerenciarconexao'
                  class="">
                  gerenciarConexao
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#routes'
                  class="">
                  routes
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#usuarioscontroller'
                  class="">
                  usuarios.controller
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#registrar'
                  class="">
                  registrar
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#compararsenha'
                  class="">
                  compararSenha
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#getusuarioporemail'
                  class="">
                  getUsuarioPorEmail
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#getusuarioporid'
                  class="">
                  getUsuarioPorId
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscarusuarioporatributo'
                  class="">
                  buscarUsuarioPorAtributo
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#atualizarusuario'
                  class="">
                  atualizarUsuario
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#removerusuario'
                  class="">
                  removerUsuario
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#resultadocompararsenha'
                  class="">
                  resultadoCompararSenha
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#resultadogetusuarioporemail'
                  class="">
                  resultadoGetUsuarioPorEmail
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#resultadogetusuarioporid'
                  class="">
                  resultadoGetUsuarioPorId
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#usuariosmodel'
                  class="">
                  usuarios.model
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#alunosroute'
                  class="">
                  alunos.route
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#alunoscontroller'
                  class="">
                  alunos.controller
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#adicionaraluno'
                  class="">
                  adicionarAluno
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscartodosalunos'
                  class="">
                  buscarTodosAlunos
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscaralunoporatributo'
                  class="">
                  buscarAlunoPorAtributo
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#atualizaraluno'
                  class="">
                  atualizarAluno
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#removeraluno'
                  class="">
                  removerAluno
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#alunosmodel'
                  class="">
                  alunos.model
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#disciplinasroute'
                  class="">
                  disciplinas.route
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#disciplinascontroller'
                  class="">
                  disciplinas.controller
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#adicionardisciplina'
                  class="">
                  adicionarDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscartodosdisciplinas'
                  class="">
                  buscarTodosDisciplinas
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscardisciplinaporatributo'
                  class="">
                  buscarDisciplinaPorAtributo
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#atualizardisciplina'
                  class="">
                  atualizarDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#removerdisciplina'
                  class="">
                  removerDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#disciplinasmodel'
                  class="">
                  disciplinas.model
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#aluno_disciplinaroute'
                  class="">
                  aluno_disciplina.route
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#aluno_disciplinacontroller'
                  class="">
                  aluno_disciplina.controller
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#adicionaralunodisciplina'
                  class="">
                  adicionarAlunoDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscartodosalunodisciplina'
                  class="">
                  buscarTodosAlunoDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#buscaralunodisciplinaporatributo'
                  class="">
                  buscarAlunoDisciplinaPorAtributo
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#atualizaralunodisciplina'
                  class="">
                  atualizarAlunoDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#removeralunodisciplina'
                  class="">
                  removerAlunoDisciplina
                  
                </a>
                
                </li>
              
                
                <li><a
                  href='#aluno_disciplinamodel'
                  class="">
                  aluno_disciplina.model
                  
                </a>
                
                </li>
              
            </ul>
          </div>
          <div class='mt1 h6 quiet'>
            <a href='http://documentation.js.org/reading-documentation.html'>Need help reading this?</a>
          </div>
        </div>
      </div>
      <div id='split-right' class='relative overflow-auto height-viewport-100'>
        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='server'>
      server
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pela criação e configuração do servidor da aplicação.</p>

 
  
    <div class='pre p1 fill-light mt0'>server</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='gerenciarconexao'>
      gerenciarConexao
    </h3>
    
    
  </div>
  

  <p>Gerencia a conexão com o Banco de Dados, fazendo com que ela seja reestabelecida sempre que for perdida.</p>

 
  
    <div class='pre p1 fill-light mt0'>gerenciarConexao()</div>
   
  
  

  
  
  
  
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='routes'>
      routes
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelas rotas da aplicação, incluindo login e cadastro de usuários.</p>

 
  
    <div class='pre p1 fill-light mt0'>routes</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='usuarioscontroller'>
      usuarios.controller
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelo CRUD dos usuários da aplicação. Assim como o login e a verificação de senha.</p>

 
  
    <div class='pre p1 fill-light mt0'>usuarios.controller</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='registrar'>
      registrar
    </h3>
    
    
  </div>
  

  <p>Registra um novo usuário de acordo com os dados recebidos.</p>

 
  
    <div class='pre p1 fill-light mt0'>registrar(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body).

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='compararsenha'>
      compararSenha
    </h3>
    
    
  </div>
  

  <p>Compara a possível senha com o hash informado.</p>

 
  
    <div class='pre p1 fill-light mt0'>compararSenha(possivelSenha: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>, hash: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>, resultado: <a href="#resultadocompararsenha">resultadoCompararSenha</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>possivelSenha</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>)</code>
	    Possível senha que deve ser comparada.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>hash</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>)</code>
	    Hash que deve ser usado na comparação.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>resultado</span> <code class='quiet'>(<a href="#resultadocompararsenha">resultadoCompararSenha</a>)</code>
	    Callback que gerencia a resposta obtida.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='getusuarioporemail'>
      getUsuarioPorEmail
    </h3>
    
    
  </div>
  

  <p>Busca os dados de um usuário de acordo com os parametros passado.</p>

 
  
    <div class='pre p1 fill-light mt0'>getUsuarioPorEmail(email: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>, resultado: <a href="#resultadogetusuarioporemail">resultadoGetUsuarioPorEmail</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>email</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>)</code>
	    email obtido pela entrada do usuario

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>resultado</span> <code class='quiet'>(<a href="#resultadogetusuarioporemail">resultadoGetUsuarioPorEmail</a>)</code>
	    Callback que gerencia a resposta obtida.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='getusuarioporid'>
      getUsuarioPorId
    </h3>
    
    
  </div>
  

  <p>Busca os dados de um usuário de acordo com os parametros passado.</p>

 
  
    <div class='pre p1 fill-light mt0'>getUsuarioPorId(id: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>, resultado: <a href="#resultadogetusuarioporid">resultadoGetUsuarioPorId</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>id</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/String">String</a>)</code>
	    email obtido pela entrada do usuario

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>resultado</span> <code class='quiet'>(<a href="#resultadogetusuarioporid">resultadoGetUsuarioPorId</a>)</code>
	    Callback que gerencia a resposta obtida.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscarusuarioporatributo'>
      buscarUsuarioPorAtributo
    </h3>
    
    
  </div>
  

  <p>Busca os dados de um usuário de acordo com os parametros passado.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarUsuarioPorAtributo(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body).

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='atualizarusuario'>
      atualizarUsuario
    </h3>
    
    
  </div>
  

  <p>Atualiza os dados de um usuário de acordo com o id passado na URL.</p>

 
  
    <div class='pre p1 fill-light mt0'>atualizarUsuario(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body) e os ids de usuario do item que deve ser alterado.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='removerusuario'>
      removerUsuario
    </h3>
    
    
  </div>
  

  <p>Remove um usuario de acordo com o id passado na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>removerUsuario(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor com o id do usuario que deve ser removido.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='resultadocompararsenha'>
      resultadoCompararSenha
    </h3>
    
    
  </div>
  

  <p>Callback usada para retornar o resultado da comparação entre possível senha e hash.</p>

 
  
    <div class='pre p1 fill-light mt0'>resultadoCompararSenha(erro: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Error">Error</a>, sucesso: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Boolean">boolean</a>)</div>
   
  
    <p>
      Type:
      <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/function">Function</a>
    </p>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>erro</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Error">Error</a>)</code>
	    Erro obtido durante a execução da comparação.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>sucesso</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Boolean">boolean</a>)</code>
	    Valor obtido através da comparação.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='resultadogetusuarioporemail'>
      resultadoGetUsuarioPorEmail
    </h3>
    
    
  </div>
  

  <p>Callback usada para retornar o resultado da entrada do email do usuario.</p>

 
  
    <div class='pre p1 fill-light mt0'>resultadoGetUsuarioPorEmail(erro: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Error">Error</a>, resultado: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
    <p>
      Type:
      <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/function">Function</a>
    </p>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>erro</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Error">Error</a>)</code>
	    Erro obtido durante a execução da consulta ao email.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>resultado</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Valor obtido através da consulta.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='resultadogetusuarioporid'>
      resultadoGetUsuarioPorId
    </h3>
    
    
  </div>
  

  <p>Callback usada para retornar o resultado da entrada do id do usuario.</p>

 
  
    <div class='pre p1 fill-light mt0'>resultadoGetUsuarioPorId(erro: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Error">Error</a>, resultado: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
    <p>
      Type:
      <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/function">Function</a>
    </p>
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>erro</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Error">Error</a>)</code>
	    Erro obtido durante a execução da consulta ao id.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>resultado</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Valor obtido através da consulta.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='usuariosmodel'>
      usuarios.model
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pela definição dos atributos da tabela usuarios.</p>

 
  
    <div class='pre p1 fill-light mt0'>usuarios.model</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='alunosroute'>
      alunos.route
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelas rotas da tabela alunos.</p>

 
  
    <div class='pre p1 fill-light mt0'>alunos.route</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='alunoscontroller'>
      alunos.controller
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelo CRUD da tabela alunos.</p>

 
  
    <div class='pre p1 fill-light mt0'>alunos.controller</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='adicionaraluno'>
      adicionarAluno
    </h3>
    
    
  </div>
  

  <p>Adiciona uma nova entrada (aluno) na tabela aluno com base nos dados recebidos na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>adicionarAluno(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body).

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscartodosalunos'>
      buscarTodosAlunos
    </h3>
    
    
  </div>
  

  <p>Busca todos os dados da tabela aluno.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarTodosAlunos(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscaralunoporatributo'>
      buscarAlunoPorAtributo
    </h3>
    
    
  </div>
  

  <p>Busca os dados da tabela aluno de acordo com os parâmetros passados na requisição.
Caso nenhum atributo tenha sido passado, busca pelo possível id contido no final da URL.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarAlunoPorAtributo(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor, contendo no atributo params, a chave e o valor que deverão ser usados na busca.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='atualizaraluno'>
      atualizarAluno
    </h3>
    
    
  </div>
  

  <p>Atualiza os dados da tabela aluno de acordo com os ids passados na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>atualizarAluno(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body) e o id do aluno do item que deve ser alterado.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='removeraluno'>
      removerAluno
    </h3>
    
    
  </div>
  

  <p>Remove um aluno de acordo com o id passado na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>removerAluno(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor com o id do aluno que deve ser removido.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='alunosmodel'>
      alunos.model
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pela definição dos atributos da tabela alunos.</p>

 
  
    <div class='pre p1 fill-light mt0'>alunos.model</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='disciplinasroute'>
      disciplinas.route
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelas rotas da tabela disciplinas.</p>

 
  
    <div class='pre p1 fill-light mt0'>disciplinas.route</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='disciplinascontroller'>
      disciplinas.controller
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelo CRUD da tabela disciplinas.</p>

 
  
    <div class='pre p1 fill-light mt0'>disciplinas.controller</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='adicionardisciplina'>
      adicionarDisciplina
    </h3>
    
    
  </div>
  

  <p>Adiciona uma nova entrada (disciplina) na tabela disciplina com base nos dados recebidos na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>adicionarDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body).

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscartodosdisciplinas'>
      buscarTodosDisciplinas
    </h3>
    
    
  </div>
  

  <p>Busca todos os dados da tabela disciplina.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarTodosDisciplinas(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscardisciplinaporatributo'>
      buscarDisciplinaPorAtributo
    </h3>
    
    
  </div>
  

  <p>Busca os dados da tabela disciplina de acordo com os parâmetros passados na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarDisciplinaPorAtributo(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor, contendo no atributo params, a chave e o valor que deverão ser usados na busca.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='atualizardisciplina'>
      atualizarDisciplina
    </h3>
    
    
  </div>
  

  <p>Atualiza os dados da tabela disciplina de acordo com os ids passados na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>atualizarDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body) e o id da disciplina do item que deve ser alterado.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='removerdisciplina'>
      removerDisciplina
    </h3>
    
    
  </div>
  

  <p>Remove uma disciplina de acordo com o id passado na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>removerDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor com o id do disciplina que deve ser removido.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='disciplinasmodel'>
      disciplinas.model
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pela definição dos atributos da tabela disciplinas.</p>

 
  
    <div class='pre p1 fill-light mt0'>disciplinas.model</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='aluno_disciplinaroute'>
      aluno_disciplina.route
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelas rotas da tabela aluno_disciplina.</p>

 
  
    <div class='pre p1 fill-light mt0'>aluno_disciplina.route</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='aluno_disciplinacontroller'>
      aluno_disciplina.controller
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pelo CRUD da tabela aluno_disciplina.</p>

 
  
    <div class='pre p1 fill-light mt0'>aluno_disciplina.controller</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='adicionaralunodisciplina'>
      adicionarAlunoDisciplina
    </h3>
    
    
  </div>
  

  <p>Adiciona uma nova entrada (nota) na tabela aluno_disciplina com base nos dados recebidos na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>adicionarAlunoDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body).

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscartodosalunodisciplina'>
      buscarTodosAlunoDisciplina
    </h3>
    
    
  </div>
  

  <p>Busca todos os dados da tabela aluno_disciplina.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarTodosAlunoDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='buscaralunodisciplinaporatributo'>
      buscarAlunoDisciplinaPorAtributo
    </h3>
    
    
  </div>
  

  <p>Busca os dados da tabela aluno_disciplina de acordo com os parâmetros passados na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>buscarAlunoDisciplinaPorAtributo(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor, contendo no atributo params, a chave e o valor que deverão ser usados na busca.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='atualizaralunodisciplina'>
      atualizarAlunoDisciplina
    </h3>
    
    
  </div>
  

  <p>Atualiza os dados da tabela aluno_disciplina de acordo com os ids (do aluno e da disciplina) passados na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>atualizarAlunoDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida com os dados a serem gravados (atributo body) e os ids (do aluno e da disciplina) do item que deve ser alterado.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='removeralunodisciplina'>
      removerAlunoDisciplina
    </h3>
    
    
  </div>
  

  <p>Remove uma nota de acordo com os ids (do aluno e da disciplina) passados na requisição.</p>

 
  
    <div class='pre p1 fill-light mt0'>removerAlunoDisciplina(req: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>, res: <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</div>
   
  
  

  
  
  
  
  
  

  
    <div class='py1 quiet mt1 prose-big'>Parameters</div>
    <div class='prose'>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>req</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Requisição recebida pelo servidor com os ids (do aluno e da disciplina) do item que deve ser removido.

          </div>
          
        </div>
      
        <div class='space-bottom0'>
          <div>
            <span class='code bold'>res</span> <code class='quiet'>(<a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>)</code>
	    Resposta que será retornada pelo servidor contendo um JSON.

          </div>
          
        </div>
      
    </div>
  

  

  

  

  

  

  

  
</section>

        
          
          <section class='p2 mb2 clearfix bg-white minishadow'>

  
  <div class='clearfix'>
    
    <h3 class='fl m0' id='aluno_disciplinamodel'>
      aluno_disciplina.model
    </h3>
    
    
  </div>
  

  <p>Arquivo responsável pela definição dos atributos da tabela aluno_disciplina.</p>

 
  
    <div class='pre p1 fill-light mt0'>aluno_disciplina.model</div>
   
  
  

  
  
  
  <div>Author: Felipe Araujo e Gabriel Ázara</div>
  
  

  

  

  

  

  

  

  

  
</section>

        
      </div>
    </div>
  <script src='/docs_assets/js/anchor.js'></script>
  <script src='/docs_assets/js/split.js'></script>
  <script src='/docs_assets/js/site.js'></script>
</body>
</html>
