<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <div class="container pt-3">
    <h2 class="py-3 text-center">Alunos</h2>
    <div class="card bg-dark text-white shadow-lg">
      <div class="card-body">
        <p class="card-text py-3 text-center" id="nenhumAluno">Nenhum aluno encontrado. <a href="#">Clique aqui</a>
          para adicionar um aluno.</p>
        <table class="rounded table table-dark table-striped" id="tabelaAlunos">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Matrícula</th>
              <th scope="col">CPF</th>
              <th scope="col">Email</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody id="tbodyAlunos"></tbody>
        </table>
      </div>
    </div>
  </div>

  <% include ../partials/js.ejs %>
</body>

</html>