<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <div class="container pt-3">
    <h2 class="py-3 text-center text-warning">Disciplinas</h2>
    <div class="card bg-dark text-white shadow-lg">
      <div class="card-body">
        <p class="card-text my-3 text-center" id="carregando_disciplinas">Carregando dados...</p>
        <p class="card-text my-3 text-center" id="nenhum_disciplinas" style="display: none;">Nenhuma disciplina encontrada. <a href="#">Clique
            aqui</a> para adicionar uma disciplina.</p>
        <div class="mt-3" id="tabela_disciplinas" style="display: none;">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="pesquisar" name="pesquisar" placeholder="Pesquise uma disciplina por código ou nome...">
            </div>
            <div class="col text-right">
              <a href="#" class="btn btn-warning">Adicionar Disciplina</a>
            </div>
          </div>
          <table class="mt-3 rounded table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody_disciplinas"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/js.ejs %>
</body>

</html>