<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <main role="main" class="container py-3 text-white">
    <div class="alert" role="alert" style="display: none;">
      Alerta padrão.
    </div>
    <h2 class="py-3 text-center">Disciplinas</h2>
    <div class="card bg-dark shadow-lg">
      <div class="card-body">
        <p class="card-text my-3 text-center" id="carregando_disciplinas">Carregando dados...</p>
        <p class="card-text my-3 text-center" id="sem_disciplinas" style="display: none;">Nenhuma disciplina
          encontrada. <a href="#" id="adicionar_disciplinas_link">Clique aqui</a> para adicionar uma disciplina.</p>
        <div class="mt-3" id="tabela_disciplinas" style="display: none;">
          <div class="row">
            <div class="col-12 col-md-8 col-lg-6 my-2">
              <div class="input-group">
                <input type="text" class="form-control" id="buscar" name="buscar" placeholder="Busque uma disciplina por código ou nome...">
                <div class="input-group-append">
                  <button class="btn btn-outline-warning" type="button" onclick="buscar('disciplinas')">Buscar</button>
                </div>
              </div>
            </div>
            <div class="col my-2 text-sm-right">
              <button type="button" class="btn btn-custom btn-warning" id="adicionar_disciplinas">Adicionar Disciplina</button>
            </div>
          </div>
          <table class="mt-3 rounded table table-dark table-hover table-responsive-xs table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody_disciplinas"></tbody>
          </table>
          <p class="card-text my-3 text-center" id="sem_disciplinas_busca" style="display: none;">Nenhuma disciplina encontrada na busca. Informe outro dado.</p>
        </div>
      </div>
    </div>
  </main>
  
  <% include ../partials/modalDisciplina.ejs %>

  <% include ../partials/modalPerfil.ejs %>

  <% include ../partials/footer.ejs %>

  <% include ../partials/js.ejs %>
</body>

</html>