<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <main role="main" class="container py-3">
    <h2 class="text-center text-white py-3"><%= usuario.nome %>, bem-vind@ ao Sistema de Controle de Notas!</h2>
    <div class="row" id="row_alunos_disciplinas" style="display: none;">
      <div class="col-12 col-md-6 my-3">
        <div class="card text-white bg-dark shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Alunos</h5>
            <p class="card-text">Gerencie os alunos cadastrados.<br>Adicione novos, edite-os, remova-os e consulte todos os alunos.</p>
            <a href="/alunos" class="btn btn-warning">Mais detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 my-3">
        <div class="card text-white bg-dark shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Disciplinas</h5>
            <p class="card-text">Gerencie as disciplinas do sistema.<br>Aqui você pode adicionar, editar, remover e consultar as disciplinas.</p>
            <a href="/disciplinas" class="btn btn-warning">Mais detalhes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 my-3">
        <div class="card text-white bg-dark shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Notas</h5>
            <p class="card-text">Gerencie as notas de cada aluno.<br>Aqui é possível adicionar, editar e consultar notas.</p>
            <a href="/notas" class="btn btn-warning">Mais detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 my-3">
        <div class="card text-white bg-dark shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Relatórios</h5>
            <p class="card-text">Gere relatórios relacionados a todas as notas ou apenas de uma disciplina específica selecionada.</p>
            <a href="/relatorios" class="btn btn-warning">Mais detalhes</a>
          </div>
        </div>
      </div>
    </div>
  </main>

	<% include ../partials/modalPerfil.ejs %>
  
	<% include ../partials/footer.ejs %>

  <% include ../partials/js.ejs %>
</body>

</html>