<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  
  <div class="container text-center pt-3">
    <h1>Sistema de Controle de Notas</h1>
  </div>

  <% include ../partials/scripts.ejs %>
</body>

</html>