<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <div class="container pt-3">
    <h2 class="text-white">Bem-vindo!</h2>
    <div class="row">
      <div class="col-6">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Alunos</h5>
            <p class="card-text">Adicione ou pesquise alunos.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Disciplinas</h5>
            <p class="card-text">Adicione ou pesquise disciplinas.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>