<!DOCTYPE html>
<html lang="pt-BR">

<% include ../partials/head.ejs %>

<body class="bg-secondary">
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <div class="container pt-3">
    <nav class="nav nav-pills flex-column flex-sm-row" role="tablist">
      <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="pill" href="#pills-alunos" role="tab"
        aria-controls="pills-alunos" aria-selected="true">Alunos</a>
      <a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#pills-disciplinas" role="tab"
        aria-controls="pills-disciplinas" aria-selected="false">Disciplinas</a>
      <a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#pills-notas" role="tab" aria-controls="pills-notas"
        aria-selected="false">Notas</a>
      <a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#pills-turmas" role="tab" aria-controls="pills-turmas"
        aria-selected="false">Turmas</a>
    </nav>

    <div class="tab-content mt-3">
      <div class="tab-pane active" id="pills-alunos" role="tabpanel" aria-labelledby="pills-alunos-tab">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Alunos</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="pills-disciplinas" role="tabpanel" aria-labelledby="pills-disciplinas-tab">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Disciplinas</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="pills-notas" role="tabpanel" aria-labelledby="pills-notas-tab">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Notas</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="pills-turmas" role="tabpanel" aria-labelledby="pills-turmas-tab">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Turmas</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>